.about
  -
    const ABOUT_DESCRIPTIONS = [
      `${$SITE_TITLE} одна из немногих компаний, которые стояли у истоков создания современного «звукового» бизнеса в России. За 25-летнюю историю мы никогда не отказывались от самой сложной и ответственной работы.`,
      'Год за годом набирали бесценный практический опыт, совершенствовали технологии, обучали персонал. И сегодня у нас есть, что предложить Вам.',
      'Это крупнейший звукоусилительный комплекс в России, самый широкий выбор современного высокотехнологичного оборудования, профессиональный персонал. А самое главное — хороший звук на вашем мероприятии.',
    ];
  .aligner.about__inner
    h2.heading.about__heading О компании
    .about__layout
      div(class=setModifiers('about__column',  [1]))
        .about__video-wrapper
          iframe.about__video(
            src='https://www.youtube.com/embed/Jn4mIZtCeSQ',
            width='280',
            height='177',
            allow='accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture',
            allowfullscreen,
          )
      div(class=setModifiers('about__column',  [2]))
        each sentence in ABOUT_DESCRIPTIONS
          p.about__description= sentence
        a.about__more-link(href='#') Узнать больше
