mixin acknowledgements()
  section.acknowledgements
    .acknowledgements__inner.aligner
      h2.acknowledgements__heading Наши благодарности
      .acknowledgements__slider-container
        .acknowledgements__slider-controls
          button.acknowledgements__slider-control.acknowledgements__slider-control--previous.is-disabled(type="button")
            span.visually-hidden Предыдущий слайд
          button.acknowledgements__slider-control.acknowledgements__slider-control--next(type="button")
            span.visually-hidden Следующий слайд
        .acknowledgements__slider
          ul.acknowledgements__list.js-slide-1
            mixin acknowledgements__item(itemNumber)
              li.acknowledgements__item(
                class=`acknowledgements__item--${itemNumber}`
                )
                a.acknowledgements__link(
                  class=`acknowledgements__link--${itemNumber}`
                  href='#'
                )
                  picture
                    source(
                      media=viewportHugeMinWidth
                      srcset=`img/acknowledgements__image--${itemNumber}-huge.png`
                    )
                    source(
                      media=viewportMediumMinWidth
                      srcset=`img/acknowledgements__image--${itemNumber}-medium.png`
                    )
                    img.acknowledgements__image(
                      src=`img/acknowledgements__image--${itemNumber}-small.png`
                      alt=`Благодарность №${itemNumber}`
                    )
            - var i = 1;
            while i <= 7
              +acknowledgements__item(i)
              - i++;

