mixin catalog-card(itemNumber, itemTitle)
  div.catalog-card
    div.catalog-card__column-1
      picture
        source(
          media=viewportMediumMinWidth
          srcset='img/catalog-card__image--' + itemNumber + '-medium.jpg'
        )
        img.catalog-card__image(
          src='img/catalog-card__image--' + itemNumber + '-small.jpg'
          alt='Активная акустическая система №' + itemNumber
        )
    div.catalog-card__column-2
      h4.catalog-card__title= itemTitle
      table.catalog__table
        tbody.catalog__table-body
          tr.catalog__table-row
            td.catalog__table-cell.catalog__table-cell--name Частотный диапазон (-10 дБ)
            td.catalog__table-cell.catalog__table-cell--value
              p.catalog-card__paragraph 55 Гц – 22 кГц<br>(заводская предустановка [FRONT])
          tr.catalog__table-row
            td.catalog__table-cell.catalog__table-cell--name Номинальная направленность (-6 дБ)
            td.catalog__table-cell.catalog__table-cell--value
              p.catalog-card__paragraph 90° осесимметричная
          tr.catalog__table-row
            td.catalog__table-cell.catalog__table-cell--name Максимальный уровень звукового давления (SPL) 10 дБ, 1 м
            td.catalog__table-cell.catalog__table-cell--value
              p.catalog-card__paragraph 125 дБ – [FILL]<br>заводская предустановка
          tr.catalog__table-row
            td.catalog__table-cell.catalog__table-cell--name Компоненты
            td.catalog__table-cell.catalog__table-cell--value
              p.catalog-card__paragraph НЧ: 1 х 8” влагостойкий динамик
              p.catalog-card__paragraph ВЧ: 1 x1" диафрагма (компрессионный драйвер)
              p.catalog-card__paragraph Номинальное сопротивление: 8 Ом
          tr.catalog__table-row
            td.catalog__table-cell.catalog__table-cell--name Электрические характеристики
            td.catalog__table-cell.catalog__table-cell--value
              p.catalog-card__paragraph Входной разъем: симметричный, макс. вх. уровень +12 дБ<br>(потенциометр чувствительности в позиции 0 дБ)
              p.catalog-card__paragraph Цифровой сигнальный процессор (DSP):<br>дискретизация 24 бита / 48 кГц
              p.catalog-card__paragraph Выходная мощность усилителя 1 x 500 Вт (4 Ом – НЧ секция),<br>1 x 250 Вт (8 Ом – ВЧ секция)
          tr.catalog__table-row
            td.catalog__table-cell.catalog__table-cell--name Вес
            td.catalog__table-cell.catalog__table-cell--value
              p.catalog-card__paragraph 12,8 кг
          tr.catalog__table-row
            td.catalog__table-cell.catalog__table-cell--name Подключение
            td.catalog__table-cell.catalog__table-cell--value
              p.catalog-card__paragraph 2 x XLR, 2 x PowerCon (входной, параллельный)
