mixin catalog-card(cardNumber, itemTitle)
  -
    const CATALOG_CARD_DATA = [
      [
        'Частотный диапазон (-10 дБ)',
        ['55 Гц – 22 кГц<br>(заводская предустановка [FRONT])'],
      ],
      [
        'Номинальная направленность (-6 дБ)',
        ['90° осесимметричная'],
      ],
      [
        'Максимальный уровень звукового давления (SPL) 10 дБ, 1 м',
        ['125 дБ – [FILL]<br>заводская предустановка'],
      ],
      [
        'Компоненты',
        [
          'НЧ: 1 х 8” влагостойкий динамик',
          'ВЧ: 1 x1" диафрагма (компрессионный драйвер)',
          'Номинальное сопротивление: 8 Ом',
        ],
      ],
      [
        'Электрические характеристики',
        [
          'Входной разъем: симметричный, макс. вх. уровень +12 дБ<br>(потенциометр чувствительности в позиции 0 дБ)',
          'Цифровой сигнальный процессор (DSP):<br>дискретизация 24 бита / 48 кГц',
          'Выходная мощность усилителя 1 x 500 Вт (4 Ом – НЧ секция),<br>1 x 250 Вт (8 Ом – ВЧ секция)',
        ],
      ],
      [
        'Вес',
        ['12,8 кг'],
      ],
      [
        'Подключение',
        ['2 x XLR, 2 x PowerCon (входной, параллельный)'],
      ],
    ];
  div.catalog-card
    div.catalog-card__column-1
      picture.catalog-card__image-wrapper
        source(
          media=viewportMediumMinWidth,
          srcset=`img/catalog-card__image--${cardNumber}-medium.jpg`,
        )
        img.catalog-card__image(
          src=`img/catalog-card__image--${cardNumber}-small.jpg`,
          alt=`Активная акустическая система №${cardNumber}`
        )
    div.catalog-card__column-2
      h4.catalog-card__title= itemTitle
      table.catalog__table
        tbody.catalog__table-body
          each item in CATALOG_CARD_DATA
            - const [term, list] = item;
            tr.catalog__table-row
              td(class=['catalog__table-cell', 'catalog__table-cell--name'])
                = term
              td(class=['catalog__table-cell', 'catalog__table-cell--value'])
                each value in list
                  p.catalog-card__paragraph!= value
