mixin modal()
  .modal
    .modal__container
      ul.modal__list
        li.modal__overlay
        - for (let i = 1; i <= 7; i += 1)
          li(class=['modal__item', `modal__item--${i}`])
            picture.modal__image-wrapper
              source(
                media=viewportMediumMinWidth,
                srcset=`img/modal__image--${i}-medium.jpg`,
              )
              img(
                class=['modal__image', `modal__image--${i}`],
                src=`img/modal__image--${i}-small.jpg`,
                alt=`Благодарность №${i}`,
              )
            button(
              class=[
                'modal__close-button',
                `modal__close-button--${i}`,
              ],
              type='botton',
            )
