mixin promo()
  -
    const PROMO_ITEMS = [
      [
        'Текст слайда №1',
        'Подпись слайда №1',
      ],
      [
        'Профессиональное вуковое оборудование',
        'Техническое сопровождение мероприятий',
      ],
      [
        'Текст слайда №3',
        'Высота блока слайдера равна высоте самого высокого из слайдов.',
      ],
      [
        'Текст слайда №4',
        'В этом случае не будет скачков блока слайдера по высоте при смене слайдов.',
      ],
    ];
  section.promo
    h2.visually-hidden Промо-блок
    .promo__slider
      .promo__list
        each item, index in PROMO_ITEMS
          -
            const number = index + 1;
            const [title, subtitle] = item;
          .promo__item
            div(class=['promo-slide', `promo-slide--${number}`])
              //- if number === 1
              //-   .promo-slide__video-wrapper
              //-     video.promo-slide__video(autoplay)
              //-       source(src='video/test-video.mp4', type='video/mp4')
              .promo-slide__inner.aligner
                .promo-slide__content
                  h3.promo-slide__title= title
                  p.promo-slide__subtitle= subtitle
                a.promo-slide__more-link(
                  href='#',
                  aria-label='Узнать подробности',
                )
    .promo__slider-controls
      .slider-controls
        .aligner
          .slider-controls__inner
