mixin projects(heading)
  -
    const PROJECT_CARDS = [
      {
        group: 'Концерты',
        captions: [
          'Песня Года (2016)',
          'ТИМАТИ в Олимпийском (2016)',
          'Концерт группы "Ночные снайперы" (2009)',
          'Тимати в СК Олимпийский (2017)',
          'Snow Пати 3 (2017)',
          'Kinder МУЗ Awards 2017',
          'Чартова Дюжина (2018)',
          'Гала-концерт Всероссийского вокального конкурса "Новая звезда" (2018)',
          '"Руки вверх! Лучшее за 20 лет" в СК "Олимпийский" (2018)',
          'Концерт группы Nickelback (2018)',
        ],
      },
      {
        group: 'Телепроекты',
        captions: [
          'Голос сезоны 1-5 (2012)',
          'Новая звезда (2017)',
          'Камеди баттл (2017)',
        ],
      },
      {
        group: 'Фестивали',
        captions: [
          'Park Live (2016)',
          'Нашествие (2016)',
          'Новая волна (2016)',
          'Легенды Ретро ФМ (2016)',
          'Sensation (2010)',
          'Дискотека 80х (2017)',
          'Премия Муз-ТВ (2018)',
          'Праздник выпускников "Алые паруса" (2018)',
        ],
      },
      {
        group: 'Официальные мероприятия',
        captions: [
          'Армия России (2017)',
          'Россия в моём сердце (2018)',
          'Послание Президента Федеральному собранию (2018)',
          'День Победы (2018)',
        ],
      },
      {
        group: 'Спортивные мероприятия',
        captions: [
          'Кубок Кремля (2016)',
          'III Зимние Всемирные военные игры (2017)',
          'Финальная жеребьёвка ЧМ 2018 г. (2017)',
          'Турнир Fight Night 85 (2018)',
          'Фестиваль болельщиков FIFA 2018',
        ],
      },
      {
        group: 'Корпоративные мероприятия',
        captions: [
          'Корпоративное мероприятие в "Адлер-Арене" (2018)',
          'Корпоратив в ресторане (2016)',
          'Форум Синергия (2017)',
          'Презентация в ресторане (2017)',
          '25 лет ПАО "Газпром" (2018)',
          'Корпоративное мероприятие в клубе (2018)',
        ],
      },
    ];

  section.projects
    .projects__inner
      h2.projects__heading.heading= heading
      .projects__content
        ul.project-cards
          each item, index in PROJECT_CARDS
            -
              const { group, captions } = item;
              const i = index + 1;
            li.project-cards__item
              .project-card
                - const pathPrefix = 'img/project-card__image--';
                a.project-card__link(
                  href=`img/project-gallery--${i}-1.jpg`,
                  data-lightbox=`projects-${i}`,
                  data-headline=group,
                  data-title=captions[0],
                  data-alt=captions[0],
                )
                  picture.project-card__image-wrapper
                    source(
                      media=viewportLargeMinWidth,
                      srcset=`${pathPrefix}${i}-large.jpg`,
                    )
                    source(
                      media=viewportMediumMinWidth,
                      srcset=`${pathPrefix}${i}-medium.jpg`,
                    )
                    img.project-card__image(
                      class=`project-card__image--${i}`,
                      src=`${pathPrefix}${i}-small.jpg`,
                      alt=group,
                    )
                  h3.project-card__caption
                    span.project-card__caption-text.heading= group
              .project-cards__gallery
                each title, number in captions.slice(1)
                  - const j = number + 2;
                  a.project-cards__link(
                    href=`img/project-gallery--${i}-${j}.jpg`,
                    data-lightbox=`projects-${i}`,
                    data-headline=group,
                    data-title=title,
                    data-alt=title,
                  )
