mixin socials(blockId=null)
  - const SOCIALS_ITEMS = ['instagram', 'youtube', 'facebook'];
  aside(class=[
    'socials',
    blockId === 'contacts' ? `socials--${blockId}` : null,
  ])
    ul.socials__list
      each item in SOCIALS_ITEMS
        - const label = item.slice(0, 1).toUpperCase().concat(item.slice(1));
        li.socials__item
          a(
            class=[
              'socials__link',
              `socials__link--${item}`,
            ],
            href='#',
            aria-label=label,
          )
