mixin team-gallery()
  -
    const TEAM_GALLERY_SOURCES = [
      [viewportHugeMinWidth, 'huge'],
      [viewportLargeMinWidth, 'large'],
      [viewportMediumMinWidth, 'medium'],
    ];
  section.team-gallery
    div.team-gallery__inner.aligner
      h2.visually-hidden Фотографии наших сотрудников
      ul.team-gallery__list
        - for (let i = 1; i <= 6; i += 1)
          li(class=['team-gallery__item', `team-gallery__item--${i}`])
            picture.team-gallery__wrapper
              each source in TEAM_GALLERY_SOURCES
                - const [viewport, modifier] = source;
                source(
                  media=viewport,
                  srcset=`img/team-gallery__photo--${i}-${modifier}.jpg`,
                )
              img(
                class=['team-gallery__photo', `team-gallery__photo--${i}`],
                src=`img/team-gallery__photo--${i}-small.jpg`,
                alt=`Наша команда, фото ${i}`,
              )
