extends ../base/_template_html.pug

block page-id
  - const $pageId = 'index';

block page-main
  h1.visually-hidden Сайт компании #{$SITE_TITLE}
  section(class=setModifiers('page-main__nest', ['promo']))
    include ../components/capital/promo/_promo.pug
  section(class=setModifiers('page-main__nest', ['advantages']))
    include ../components/capital/advantages/_advantages.pug
  section(class=setModifiers('page-main__nest', ['directions']))
    +projects()
  section(class=setModifiers('page-main__nest', ['partners-first']))
    +partners()(
      heading='Оборудование от компаний-лидеров мирового рынка',
      special-modifier='partners__small-heading',
    )
  section(class=setModifiers('page-main__nest', ['about']))
    include ../components/capital/about/_about.pug
  section(class=setModifiers('page-main__nest', ['partners-last']))
    +partners()(heading='Партнеры')

block page-scripts-distinct
  script(src='js/slick.js')
  script(src='js/promo-slider.js')
  script(src='js/index-section-fadeinup.js')
