.projects__content
  include _d_projects.pug
  ul.project-cards
    each item, index in PROJECT_CARDS
      -
        const { group, captions } = item;
        const i = index + 1;
      li.project-cards__item
        .project-card
          - const pathPrefix = 'img/project-card__image--';
          a.project-card__link(
            href=`img/project-gallery--${i}-1.jpg`,
            data-lightbox=`projects-${i}`,
            data-headline=group,
            data-title=captions[0],
            data-alt=captions[0],
          )
            picture.project-card__image-wrapper
              source(
                media=$VIEWPORT_MIN_WIDTH_LARGE,
                srcset=`${pathPrefix}${i}-large.jpg`,
              )
              source(
                media=$VIEWPORT_MIN_WIDTH_MEDIUM,
                srcset=`${pathPrefix}${i}-medium.jpg`,
              )
              img(
                class=setModifiers('project-card__image', [i]),
                src=`${pathPrefix}${i}-small.jpg`,
                alt=group,
              )
            h3.project-card__caption
              span.heading.project-card__caption-text= group
        .project-cards__gallery
          each title, number in captions.slice(1)
            - const j = number + 2;
            a.project-cards__link(
              href=`img/project-gallery--${i}-${j}.jpg`,
              data-lightbox=`projects-${i}`,
              data-headline=group,
              data-title=title,
              data-alt=title,
            )
