.acknowledgements
  .aligner.acknowledgements__inner
    h2.heading.acknowledgements__heading Наши благодарности
    .acknowledgements__slider-container
      .acknowledgements__slider-controls
        each item in [['previous', 'Предыдущий'], ['next', 'Следующий']]
          - const [modifier, legend] = item;
          button(
            class=[
              setModifiers('acknowledgements__slider-control', [modifier]),
              modifier === 'previous' ? 'is-disabled' : null,
            ],
            type='button',
            aria-label=`${legend} слайд`
          )
      .acknowledgements__slider
        ul.acknowledgements__list.js-slide-1
          - for (let i = 1; i <= 7; i += 1)
            li(class=setModifiers('acknowledgements__item', [i]))
              a(
                class=setModifiers('acknowledgements__link', [i]),
                href='#',
              )
                picture.acknowledgements__image-wrapper
                  source(
                    media=$VIEWPORT_MIN_WIDTH_HUGE,
                    srcset=`img/acknowledgements__image--${i}-medium.png`,
                  )
                  source(
                    media=$VIEWPORT_MIN_WIDTH_LARGE,
                    srcset=`img/acknowledgements__image--${i}-large.png`,
                  )
                  source(
                    media=$VIEWPORT_MIN_WIDTH_MEDIUM,
                    srcset=`img/acknowledgements__image--${i}-medium.png`,
                  )
                  img.acknowledgements__image(
                    src=`img/acknowledgements__image--${i}-small.png`,
                    alt=`Благодарность №${i}`,
                  )
