section.acknowledgements
  .acknowledgements__inner.aligner
    h2.acknowledgements__heading.heading Наши благодарности
    .acknowledgements__slider-container
      .acknowledgements__slider-controls
        button.acknowledgements__slider-control.acknowledgements__slider-control--previous.is-disabled(type="button")
          span.visually-hidden Предыдущий слайд
        button.acknowledgements__slider-control.acknowledgements__slider-control--next(type="button")
          span.visually-hidden Следующий слайд
      .acknowledgements__slider
        ul.acknowledgements__list.js-slide-1
          - for (let i = 1; i <= 7; i += 1)
            li(class=[
              'acknowledgements__item',
              `acknowledgements__item--${i}`,
            ])
              a(
                class=[
                  'acknowledgements__link',
                  `acknowledgements__link--${i}`,
                ],
                href='#',
              )
                picture.acknowledgements__image-wrapper
                  source(
                    media=$VIEWPORT_MIN_WIDTH_HUGE,
                    srcset=`img/acknowledgements__image--${i}-medium.png`,
                  )
                  source(
                    media=$VIEWPORT_MIN_WIDTH_LARGE,
                    srcset=`img/acknowledgements__image--${i}-large.png`,
                  )
                  source(
                    media=$VIEWPORT_MIN_WIDTH_MEDIUM,
                    srcset=`img/acknowledgements__image--${i}-medium.png`,
                  )
                  img.acknowledgements__image(
                    src=`img/acknowledgements__image--${i}-small.png`,
                    alt=`Благодарность №${i}`,
                  )
