header.page-header
  -
    const MENU_CONTROLS_BUTTONS = [['open', 'Показать'], ['close', 'Скрыть']];
    const LANGUAGE_TOGGLE_DATA = [['russian', 'RU', 'русскую'], ['english', 'EN', 'английскую']];
  .aligner.page-header__inner
    div(class=setModifiers('page-header__nest', ['menu-controls']))
      nav.menu-controls
        each item in MENU_CONTROLS_BUTTONS
          - const [modifier, label] = item;
          button(
            class=[
              setModifiers('menu-controls__button', [modifier]),
              modifier === 'open' ? 'is-visible' : null,
            ],
            type='button',
            aria-label=`${label} главное меню`,
          )
    div(class=setModifiers('page-header__nest', ['logo']))
      +logo()(location='header')
    div(class=[
      setModifiers('page-header__nest', ['navigation']),
      'page-header__popup',
    ])
      include ../header-navigation/_header-navigation.pug
    div(class=setModifiers('page-header__nest', ['socials']))
      +socials()
    div(class=setModifiers('page-header__nest', ['language-toggle']))
      .language-toggle
        each item in LANGUAGE_TOGGLE_DATA
          - const [modifier, content, label] = item;
          a(
            class=[
              setModifiers('language-toggle__link', [modifier]),
              modifier === 'RU' ? 'is-checked' : null,
            ],
            aria-label=`Переключиться на ${label} версию`,
          )
            span.language-toggle__string(aria-hidden='true')= content
