mixin main-navigation(navLocation)
  -
    const MAIN_NAVIGATION_ITEMS = [
      ['Главная', 'index'],
      ['О компании', 'about'],
      ['Проекты', 'projects'],
      ['Команда', 'team'],
      ['Оборудование', 'equipment'],
      ['Клиенты/Партнеры', 'partners'],
      ['Контакты', 'contacts'],
    ];
  nav(class=setModifiers('main-navigation', [navLocation]))
    ul.main-navigation__list
      each item in MAIN_NAVIGATION_ITEMS
        -
          const [text, modifier] = item;
          const isCurrent = (modifier === $pageId);
        li.main-navigation__item(class=currentItemClass)
          a.main-navigation__link(
            class=(isCurrent ? 'is-current' : null),
            href=(isCurrent ? null : `${modifier}.html`),
          )= text
